# Prevent clients from accessing hidden files (starting with a dot)
# This is particularly important if you store .htpasswd files in the site hierarchy
# Access to `/.well-known/` is allowed.
# https://www.mnot.net/blog/2010/04/07/well-known
# https://tools.ietf.org/html/rfc5785
location ~* /\.(?!well-known\/) {
   deny all;
}

# Prevent clients from accessing to backup/config/source files
location ~* (?:\.(?:bak|conf|dist|fla|in[ci]|log|psd|sh|sql|sw[op]|pub|key|pem)|~)$ {
   deny all;
}

# 限制请求方法
if ($request_method !~ ^(GET|HEAD|POST)$ ) {
    return 444;
}
##限制某些User-Agents
# 限制下载
if ($http_user_agent ~* LWP::Simple|BBBike|wget) {
    return 403;
}
# Block some robots
if ($http_user_agent ~* msnbot|scrapbot) {
    return 403;
}
# 限制某些请求
location ~ .(aspx|php|jsp|cgi|action|zip|rar)$ {
   deny all;
}